<%= link_to "Back to subs index", subs_url %>
<h2><%=@post.title%></h2>
<%= link_to @post.url, @post.url if @post.url %>
<p><%= @post.content if @post.content %></p>

<%= link_to "Edit Post", edit_post_url(@post) if can_make_changes? %>
